<view class="header">
    <image class="hbg" src="src/hbg.png"></image>
    <view class="nickname">{{nickname}}</view>
    <view wx:if="{{!vip && value>0}}" class="tip">VIP已经过期，重新激活立即恢复等级</view>
    <view wx:if="{{!vip && value==0}}" class="tip">您还不是会员，赶快激活吧</view>
    <view wx:if="{{vip}}" class="viptip"><block wx:if="{{value < 99999}}">您的VIP到期时间：{{date}}</block><block wx:if="{{value >= 99999}}">您是我们尊贵的永久会员！</block></view>
    <view class="leftText">VIP {{level}}</view>
    <view class="rightText">VIP {{level + 1}}</view>
    <view class="jn">
        <view class="fnd" style="width: {{10 + 536*value/length}}rpx;"></view>
    </view>
    <view class="expt"><block wx:if="{{length-value > 0}}">还需{{length-value}}Exp</block> {{value}}/{{length}}Exp</view>
    <view class="help1" catchtap='help2'>会员说明</view>
    <view class="help1" style='right:77px;' catchtap='history'>开通记录</view>
</view>
<view wx:if="{{isandroid}}" class="android">
    <scroll-view class="box2" scroll-x='true'>
        <view data-pay="0" bindtap="select" class="plan {{selected[0]}}">
            <view class="time">20Exp</view>
            <view class="fee">¥1</view>
            <view class="plantip">送2天VIP</view>
        </view>
        <view  bindtap="select" data-pay="1" class="plan {{selected[1]}}">
            <view class="time">70Exp</view>
            <view class="fee">¥3</view>
            <view class="plantip">7天+无水印</view>
        </view>
        <view  bindtap="select" data-pay="2" class="plan {{selected[2]}}">
            <view class="time">Lv2</view>
            <view class="fee">¥9.9</view>
            <view class="plantip">1个月+完全工具</view>
        </view>
        <view  bindtap="select" data-pay="3" class="plan {{selected[3]}}">
            <view class="time">Lv3</view>
            <view class="fee">¥59</view>
            <view class="plantip">6个月+高级特权</view>
        </view>
        <view  bindtap="select" data-pay="4" class="plan {{selected[4]}}">
            <view class="time">Lv4</view>
            <view class="fee">¥119</view>
            <view class="plantip">1.5年+加速特权!</view>
        </view>
        <view  bindtap="select" data-pay="5" class="plan {{selected[5]}}">
            <view class="time">Lv5</view>
            <view class="fee">¥199</view>
            <view class="plantip">永久会员</view>
        </view>
    </scroll-view>
    <view class="button" bindtap="pay">购买等级(永久有效)</view>
</view>

<view class="task">
    <view class="title">做任务免费领会员</view>
    <view class="taskBox">
        <view class="singleTask">
            <view class="taskTitle">
                每日签到
            </view>
            <view class="taskDes">
                签的越多送的越多～
            </view>
            <view class="taskButton" bindtap='openSign'>去签到</view>
        </view>
        <view wx:if="{{videoad}}" bindtap="videoadshow" class="singleTask">
            <view class="taskTitle">
                观看一段小视频
            </view>
            <view class="taskDes">
                送2小时体验Lv2+12小时VIP(可多次领取)
            </view>
            <view class="taskButton">立即观看</view>
        </view>
        <!-- <view class="singleTask">
            <view class="taskTitle">
                带来了你的新小伙伴！
            </view>
            <view class="taskDes">
                现金奖励！（可兑现，无上限!）
            </view>
            <view class="taskButton">查看指引</view>
        </view> -->
        <!-- <view class="singleTask">
            <view class="taskTitle">
                小伙伴发布了1个作品
            </view>
            <view class="taskDes">
                赠送7天会员
            </view>
            <view class="taskButton">查看指引</view>
        </view> -->
        <view class="singleTask">
            <view class="taskTitle">
                去首页查看10个专辑
            </view>
            <view class="taskDes">
                赠送0.5天会员+3Exp
            </view>
            <view class="taskButton" bindtap='tohome'>前往查看</view>
        </view>
        <view class="singleTask">
            <view class="taskTitle">
                每天评论1个作品
            </view>
            <view class="taskDes">
                赠送0.5天会员+3Exp
            </view>
            <view class="taskButton" bindtap='tohome'>前往评论</view>
        </view>
        <view class="singleTask">
            <view class="taskTitle">
                每周发布1个专辑
            </view>
            <view class="taskDes">
                赠送1天会员+6Exp
            </view>
            <view class="taskButton" bindtap='touser'>前往发布</view>
        </view>
        <!-- <view class="singleTask">
            <view class="taskTitle">
                积分兑换
            </view>
            <view class="taskDes">
                100积分/1天会员
            </view>
            <view class="taskButton">前往兑换</view>
        </view> -->
        <view class="singleTask">
            <view class="taskTitle">
                首次关注公众号
            </view>
            <view class="taskDes">
                赠送7天体验Lv3
            </view>
            <view class="taskButton" bindtap='followmp'>去完成</view>
        </view>
        <view class="singleTask">
            <view class="taskTitle">
                首次创建朋友圈海报
            </view>
            <view class="taskDes">
                赠送1天会员+10Exp
            </view>
            <view class="taskButton" bindtap='posterhelp'>查看指引</view>
        </view>
    </view>
</view>

<view class="bottomTip">问题反馈 admin@liuxinyumo.cn</view>

<view wx:if="{{signWindow}}" class='signBox' bindtap='closeSign'>
    <view class='sign' catchtap='none'>
        <view class='signTitle'>已经连续签到 <text style='color:green;font-weight:bolder;font-size:18px;'>{{signDay}}</text> 天</view>
        <view class='signTipBox'>
            <text decode='true' class='signTip'>
                签到规则：
                连续签到积累天数，中途断签重新计数
                每日签到基础奖励:1小时会员

                连续签到包含额外奖励：
                3的倍数，则奖励3小时会员+2Exp
                7的倍数，则奖励1天会员+4Exp
                31的倍数，则奖励3天会员+20Exp！
                所有额外奖励均可叠加！
                例如连续签到21天当天仅因签到就可获得1天4时会员及6Exp！
            </text>
        </view>
        <view wx:if="{{!signFinished}}" class='signbutton' catchtap='signToday'>签到</view>
        <view wx:if="{{signFinished}}" class='signbutton signfinished'>今日已签</view>
    </view>
</view>