/* app/user/friend/view/page.wxss */

.user{
    width: 710rpx;
    height: 120rpx;
    margin: 0px auto;
    border-bottom: 1px solid rgb(219, 219, 219);
    position: relative;
}
.avatar{
    width: 80rpx;
    height: 80rpx;
    position: absolute;
    left: 15rpx;
    border-radius: 50%;
    top: 15rpx;
}
.nickname{
    position: absolute;
    left: 110rpx;
    top: 15rpx;
}
.date{
    position: absolute;
    left: 110rpx;
    top: 65rpx;
    font-size: 0.85rem;
    color: rgb(145, 145, 145);
}
.sex{
    position: absolute;
    border: 1px solid white;
    border-radius: 50%;
    width: 30rpx;
    height: 30rpx;
    left: 70rpx;
    top: 70rpx;
} 
.follow{
    position: absolute;
    width: 150rpx;
    height: 50rpx;
    border-radius: 5rpx;
    background-color: #eb4e3f;
    color: white;
    text-align: center;
    right: 20rpx;
    top: 30rpx;
    line-height: 50rpx;
    font-size: 0.9rem;
}