/* app/user/album/create/view/page.wxss */
textarea{
    width: 100%;
    padding: 10rpx;
    line-height: 20rpx;
    height:150rpx;
}

.Add{
    position: relative;
    display: inline-block;
    width: 200rpx;
    height: 200rpx;
    background-color: rgb(231, 231, 231);
    margin: 3rpx 17rpx;
}
.progImg{
    width: 200rpx;
    height: 200rpx;
}
.addicon{
    position: absolute;
    width: 100rpx;
    height: 100rpx;
    left: 50rpx;
    top: 50rpx;
}
.handleBox{
    position: absolute;
    width: 100%;
    bottom: 0rpx;
    height: 55rpx;
    background-color: #f8f8f8;
}
.del{
    position: absolute;
    width: 45rpx;
    height: 45rpx;
    left: 79rpx;
    bottom: 5rpx;
}
.left{
    position: absolute;
    width: 45rpx;
    height: 45rpx;
    left: 5rpx;
    bottom: 5rpx;
}
.right{
    position: absolute;
    width: 45rpx;
    height: 45rpx;
    right: 5rpx;
    bottom: 5rpx;
}
.editItem .title{
    position: absolute;
    left: 0px;
}

.editItem .content{
    position: absolute;
    right: 0px;
    min-width:200rpx;
    text-align: right;
    height: 90rpx;
}