/* app/user/order/view/page.wxss */
.order{
    width: 100%;
    min-height: 60rpx;
    background-color: white;
    border-top: 2rpx solid rgba(112, 112, 112, 0.11);
    position: relative;
    padding-bottom: 10rpx;
}
.order:first-child{
    border-top: 0rpx;
}
.title{
    font-weight: bold;
    margin: 15rpx 15rpx 5rpx 15rpx;
    width: 550rpx;
}
.date{
    font-size: 0.9rem;
    color: rgb(170, 170, 170);
    margin-left: 15rpx;
}
.fee{
    position: absolute;
    right: 20rpx;
    top: 15rpx;
    font-size: 1rem;
}