<view wx:if="{{opusList.length != 0}}" class="opusBox">
    <checkbox-group bindchange='change'>
        <view wx:for="{{opusList}}" wx:key="id" class="opus" data-id="{{item.id}}">
            <image mode="aspectFill"  lazy-load="true" class="opusAvatar" src="{{item.avatar}}"></image>
            <view class="like">
                <view class="likenum">{{item.likenum}}</view>
                <image class="likeicon" src="/app/src/loved.png"></image>
            </view>
            <checkbox class="checkbox" checked="{{push}}"value="{{item.id}}"></checkbox>
            <view class="opusTag">
                <view class="tag" style="background-color:{{item.copyrightColor}};">{{item.copyright}}</view>
                <view wx:if="{{item.private == 1}}" class="tag" style="background-color:#eb4e3f;">私人</view>
                <view class="date">{{item.date}}</view>
            </view>
        </view>
    </checkbox-group>
</view>
<block wx:if="{{opusList.length == 0}}">
    <view class='container3'>
        <image class='empty' src='/app/src/empty.png'></image>
        <view>您还没有作品呢，快去创作吧</view>
    </view>
</block>
<view class="confrim">
    <view class="num">已选择 {{selectNum}}/{{selectMax}}</view>
    <view bindtap="confirm" class="button">确定</view>
    <view bindtap="push" class="button" style="right: 220rpx;background-color: white;color:black;">清空</view>
</view>