<!--app/home/view/page.wxml-->
<view class="searchBox">
    <view class="searchBox2">
        <image class="searchIcon" src="/app/src/search.png"></image>
        <input type="text" maxlength="16" class="searchText" confirm-type='search' bindconfirm="search" placeholder="搜索主题关键词"></input>
    </view>
</view>
<swiper wx:if="{{banner.length != 0}}" indicator-dots="true" autoplay="true" interval="10000" duration="1000" >
    <swiper-item wx:for="{{banner}}" wx:key="id" data-id="{{item.id}}" bindtap="onbanner">
        <image mode="aspectFill" src='{{item.img}}'></image>
    </swiper-item>
</swiper>
<!-- <view class="program">
    <view class="title">超级英雄</view>
    <view class="more">更多</view>
    <scroll-view class='scrollView' scroll-x='true'>
        <image mode="aspectFill" class="progImg" src="https://pxpro-1256097093.cos.ap-shanghai.myqcloud.com/pxpro/1565074002103Tvl3IKUgHBHbbv.jpeg"></image>
        <image mode="aspectFill" lazy-load="true" class="progImg" src="https://pxpro-1256097093.cos.ap-shanghai.myqcloud.com/pxpro/1565074002103Tvl3IKUgHBHbbv.jpeg"></image>
    </scroll-view>
</view> -->
<block wx:for="{{homeList}}" wx:key="id">
    <view wx:if="{{item.type == 2}}" class="bannerad">
        <ad unit-id="{{item.ad}}"  ad-intervals="30"></ad>
    </view>
    <view wx:if="{{item.type == 1}}" class="userDisplay">
        <view style="height:90rpx;"></view>
        <image class="avatar" data-userid="{{item.owner}}" bindtap="openUser" src="{{item.avatar}}"></image>
        <image wx:if="{{item.sex == 1}}" class="sex" src="/app/src/boy.png"></image>
        <image wx:if="{{item.sex == 2}}" class="sex" src="/app/src/girl.png"></image>
        <view class="title2" data-userid="{{item.owner}}" bindtap="openUser" >{{item.nickname}}的专辑</view>
        <image class='report' data-album='{{item.id}}' bindtap='report' src='/app/src/report.png'></image>
        <view class="des">{{item.content}}</view>
        <scroll-view class='scrollView' scroll-x='true'>
            <image wx:for="{{item.opus}}" wx:key="id" wx:for-item="opus" mode="aspectFill" lazy-load="true" class="progImg" src="{{opus.avatar}}" data-id="{{opus.id}}" bindtap="openOpus"></image>
        </scroll-view>
    </view>
</block>
<!--     
<text>app/home/view/page.wxml</text>
<input bindconfirm="open"></input>
<button bindtap="look">测试</button> -->